
<% if current_user %>
  <form action='/sessions' method='post'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Log Out'>
  </form>
 <%end%>
  <br>

<h1><%=@user.first_name%></h1>
<title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 80%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 80%;
      }
    </style>
<div id="map"></div>
    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.

      var pos;

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -121.912, lng: 34.377},
          zoom: 15
        });
        var infoWindow = new google.maps.InfoWindow({map: map});

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            document.getElementById('info').innerHTML = '<form action="/notification/trigger" method="post"><input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden"><input type="hidden" name="message" value="This the Alert Button"><input type="hidden" name="link" value="https://www.google.com/maps/place/'+pos.lat+','+pos.lng+'"><input type="submit" value="Trigger Alarm"></form>'

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCed0X7gyWcJtfP1uV9jusYkOkQ45Ksjxo&callback=initMap">
    </script>



<div id="info">
</div>

	
	
	



<p>Emergency Contacts</p>
<ul>
<%@contacts.each do |contact|%>
	<li><%=contact.name%></li>
<%end%>
</ul>


<p>Enter Emergency Contacts</p>
<form action="/contact" method="post">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<label for="first_name">Name:</label>
	<input id="first_name" type="text" name="contact[name]" placeholder="John">
	<label for="phone_number">Phone Number:</label>
	<input id="phone_number" type="text" name="contact[phone_number]" placeholder="8885555">
	
	<br>
	<input type="submit" value="Submit">
</form>






